<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="nome" class="form-label">
      Nome
    </label>
    <input type="text" 
          class="form-control" 
          id="nome" name="nome"
          [(ngModel)]="jsonIn.nome"
          maxlength="256"
          required>
    <!-- <div class="valid-feedback">
      Looks good!
    </div> -->
  </div>
  <div class="col-md-4">
    <label for="cognome" class="form-label">
      Cognome del cliente
    </label>
    <input type="text" 
          class="form-control" 
          id="cognome" name="cognome"
          [(ngModel)]="jsonIn.cognome"
          maxlength="256"
          required>
    <!-- <div class="valid-feedback">
      Looks good!
    </div> -->
  </div>
  <div class="col-md-4">
    <label for="altezza" class="form-label">
      Altezza (in cm)
    </label>
    <input type="number"
          min="1" max="250" step="1"
          class="form-control" 
          id="altezza" name="altezza"
          [(ngModel)]="jsonIn.altezza"
          >
    <!-- <div class="valid-feedback">
      Looks good!
    </div> -->
  </div>
  <div class="col-md-4">
    <label for="email" class="form-label">
      Email
    </label>
    <input type="email"
          class="form-control" 
          id="email" name="email"
          [(ngModel)]="jsonIn.email"
          required
          >
    <!-- <div class="valid-feedback">
      Looks good!
    </div> -->
  </div>
  <div class="col-md-3">
    <label for="sesso" class="form-label">Sesso</label>
    <select class="form-select" 
            name="sesso"
            id="sesso" 
            [(ngModel)]="jsonIn.sesso"
            required>
      <option disabled value="">Choose...</option>
      <option>M</option>
      <option>F</option>
    </select>
    <!-- <div class="invalid-feedback">
      Please select a valid state.
    </div> -->
  </div>
  <div class="col-md-4">
    <label for="dataNascita" class="form-label">
      Data di nascita
    </label>
    <input type="date"
          class="form-control" 
          id="dataNascita" name="dataNascita"
          [(ngModel)]="jsonIn.dataNascita"
          (change)="onDataNascitaChange($event)"
          required
          >
    <!-- <div class="valid-feedback">
      Looks good!
    </div> -->
  </div>
 
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
  <pre>{{ jsonIn | json }}</pre>
</form>