/* You can add global styles to this file, and also import other style files */
.mostrato {
    color: green;
}

.nascosto {
    color: gray;
}

app-drink-card {
    border: 1px dotted red;
    display: block;
}